/* PALETA DE CORES
* #0E103D
* F2D7EE
* D3BCC0
* 6CA6C1


/* HEADER */

#main-navbar {
    color: #0E103D;
    background-color: #F2D7EE;
}

#navbar {
    min-width: 30%;
}

.navbar-brand {
    position: relative;
}

#logo {
    margin-left: 15px;
    width: 50px;
}

#rh-title {
    color: #0E103D;
    position: absolute;
    bottom: 15px;
    font-size: 30px;
    left: 70px;
    font-weight: bold;
}

.navbar-nav {
    justify-content: flex-end;
    width: 100%;
    margin-right: 15px;
}

.nav-link {
    color: #0E103D;
    transition: .5;
}

.nav-link:hover {
    color: #6CA6C1;
}

.bold {
    font-weight: bold;
}

/* LOGIN/REGISTER CONTAINER */
#auth-row {
    justify-content: space-evenly;
}

#login-container h2,
#register-container h2 {
    text-align: center;
    border-bottom: 2px solid #6CA6C1;
    width: 200px;
    margin: 0 auto;
    padding: 10px;
}

#login-container form,
#register-container form {
    max-width: 400px;
    margin: 30px auto;
}

#login-container .card-btn,
#register-container .card-btn,
.btn.card-btn {
    color: #000;
    background-color: #6CA6C1;
    border: 2px solid #6CA6C1;
    width: 100%;
    transition: .5s;
}

#login-container .card-btn:hover,
#register-container .card-btn:hover,
.btn.card-btn:hover {
    background-color: transparent;
    color: #0E103D;
    border-color: #6CA6C1;
}
    
.form-group {
    margin-bottom: 20px;
}

.form-group label {
    margin-bottom: 8px;
}

/* HOME */

#main-container {
    min-height: 65vh;
    color: #000;
    padding: 40px;
    background-color: #D3BCC0;
}

/* FOOTER */
#footer {
    background-color: #F2D7EE;
    color: #0E103D;
    margin: 0;
    padding: 15px;
    text-align: center;
}

#social-container ul,
#footer-links-container ul {
    list-style: none;
    padding: 0;
    
}

#social-container li,
#footer-links-container li {
    display: inline-block;
    margin: 0 20px;
}

#social-container li {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    transition: .5s;
    line-height: 3;
}

#social-container li:hover {
    background-color: #6CA6C1;
}

#social-container a,
#footer-links-container a {
    color: #0E103D;
    text-decoration: none;
}

#social-container a:hover,
#footer-links-container a:hover {
    text-decoration: underline;
}

#social-container li i {
    font-size: 30px;
}

#footer-links-container {
    margin: 30px 0;
}

#copyright {
    text-decoration: none;
    color: #0E103D;
}

#copyright:hover {
    text-decoration: underline;
}