/* PALETA DE CORES
* #0E103D
* F2D7EE
* D3BCC0
* 6CA6C1


/* HEADER */

#main-navbar {
    color: #0E103D;
    background-color: #F2D7EE;
}

#navbar {
    min-width: 30%;
}

.navbar-brand {
    position: relative;
}

#logo {
    margin-left: 15px;
    width: 50px;
}

#rh-title {
    color: #0E103D;
    position: absolute;
    bottom: 15px;
    font-size: 30px;
    left: 70px;
    font-weight: bold;
}

.navbar-nav {
    justify-content: flex-end;
    width: 100%;
    margin-right: 15px;
}

.nav-link {
    color: #0E103D;
    transition: .5;
}

.nav-link:hover {
    color: #6CA6C1;
}

.bold {
    font-weight: bold;
}

/* MESSAGE SYSTEM */
.msg-container {
    background-color: #D3BCC0;
    padding: 15px;
}

.msg {
    width: 60%;
    margin: 0 auto;
    padding: 10px;
    border: 1px solid;
    border-radius: 8px;
    text-align: center;
}

.msg.error {
    color: #771119;
    background-color: #fa9da4;
    border-color: #f3b1b7;
}

.msg.success {
    color: #0F5132;
    background-color: #D1E7DD;
    border-color: #BADBCC;
}

/* LOGIN/REGISTER PAGE */
#auth-row {
    justify-content: space-evenly;
}

#login-container h2,
#register-container h2 {
    text-align: center;
    border-bottom: 2px solid #6CA6C1;
    width: 200px;
    margin: 0 auto;
    padding: 10px;
}

#login-container form,
#register-container form {
    max-width: 400px;
    margin: 30px auto;
}

#login-container .card-btn,
#register-container .card-btn,
.btn.card-btn {
    color: #000;
    background-color: #6CA6C1;
    border: 2px solid #6CA6C1;
    width: 100%;
    transition: .5s;
}

#login-container .card-btn:hover,
#register-container .card-btn:hover,
.btn.card-btn:hover {
    background-color: transparent;
    color: #0E103D;
    border-color: #6CA6C1;
}
    
.form-group {
    margin-bottom: 20px;
}

.form-group label {
    margin-bottom: 8px;
}

.form-group input::placeholder {
    font-style: italic;
    color: #6E6E6E;
    font-size: 14px;
}

/* EDIT PAGE */
.page-description,
.section-description {
    color: #6E6E6E;
    font-style: italic;
    text-align: left;
}

.form-control.disabled {
    background-color: #AAA;
}

.edit-profile-title,
.page-title {
    font-size: 35px;
    text-align: center;
    color: #0E103D;
    font-weight: bold;
}

.page-description {
    text-align: center;
}

#photo-container {
    display: flex;
    flex-direction: column;
}

/* DASHBOARD */
#add-employee-container {
    text-align: right;
}

#add-employee-container .card-btn {
    width: 20%;
}

.section-title {
    color: #0E103D;
    font-weight: bold;
    font-size: 40px;
}

.section-description {
    font-size: 18px;
}

#employees-dashboard .table {
    color: #0E103D;
}

#employees-dashboard .table th {
    border-top: none;
}

#employees-dashboard .table tr {
    padding: 15px 0;
}

.table-employee-title {
    color: #0E103D;
    font-weight: bold;
    transition: .5s;
    text-decoration: none;
}

.table-employee-title:hover {
    color: #6CA6C1;
}

.actions-column {
    max-width: 100px;
    text-align: center;
}

.actions-colum  {
    max-width: 100px;
    text-align: center;
}

.actions-colum form {
    display: inline-block;
}

tbody td {
    border-bottom: none
}

.edit-btn,
.delete-btn {
    padding: 5px 10px;
    border-radius: 5px;
    margin: 0 5px;
    font-weight: bold;
    transition: .5s;
    border: none;
    display: inline-block;
}

.edit-btn {
    background-color: #6CA6C1;
    color: #FFF;
    text-decoration: none;
}

.edit-btn:hover {
    background-color: transparent;
    color: #6CA6C1;
}

.delete-btn {
    background-color: #DC3545;
    border: 1px solid #DC3545;
    color: #FFF;
    text-decoration: none;
}

.delete-btn:hover {
    background-color: transparent;
    color: #DC3545;
    border-color: #DC3545;
}

#dash-image {
    background-position: center;
    background-size: cover;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    padding: 0;
}

/* DATE BANK*/
#date-btn {
    margin: 20px 0;
}

#date-btn i {
    margin-right: 10px;
}

#filterInput {
    width: 20%;
}

#filterInput::placeholder {
    font-size: 14px;
    font-style: italic;
    color: #6E6E6E;
}

#date-colum {
    display: flex;
    justify-content: center;
}

#date-colum .add-hour {
    width: 175px;
    background-color: #6CA6C1;
    color: #000;
    border-radius: 5px;
    border: 1px solid #6CA6C1;
    transition: .5s;
    padding: 3px;
}

.button-form #red-btn {
    width: 175px;
    padding: 3px;
}

#date-colum .add-hour i{
    margin: 0px 8px;
}

#date-colum .add-hour:hover {
    background-color: transparent;
    border-color: #6CA6C1;
    color: #0E103D;
}

/* HOME */

#main-container {
    min-height: 65vh;
    color: #000;
    padding: 40px;
    background-color: #D3BCC0;
}

/* FOOTER */
#footer {
    background-color: #F2D7EE;
    color: #0E103D;
    margin: 0;
    padding: 15px;
    text-align: center;
}

#social-container ul,
#footer-links-container ul {
    list-style: none;
    padding: 0;
    
}

#social-container li,
#footer-links-container li {
    display: inline-block;
    margin: 0 20px;
}

#social-container li {
    height: 40px;
    width: 40px;
    border-radius: 100%;
    transition: .5s;
    line-height: 3;
}

#social-container li:hover {
    background-color: #6CA6C1;
}

#social-container a,
#footer-links-container a {
    color: #0E103D;
    text-decoration: none;
}

#social-container a:hover,
#footer-links-container a:hover {
    text-decoration: underline;
}

#social-container li i {
    font-size: 30px;
}

#footer-links-container {
    margin: 30px 0;
}

#copyright {
    text-decoration: none;
    color: #0E103D;
}

#copyright:hover {
    text-decoration: underline;
}